@font-face {
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff") url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Roboto-Bold.woff") format("woff") url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Roboto-Regular.woff") format("woff") url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff") url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Roboto-Medium.woff") format("woff") url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

body.no-overflow {
  overflow: hidden;
}

.container {
  max-width: 1140px;
}

.text-right {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.site-body__wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.site-main__hero {
  margin-bottom: 30px;
}

.site-main__cart {
  margin-bottom: 110px;
}

.section-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 0.84;
  color: #414141;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.main-btn {
  padding: 13px 0;
  width: 100%;
  max-width: 223px;
  font-size: 0.8125rem;
  line-height: 0.86;
  color: #fff;
  background-color: #245462;
}

.main-btn--contact {
  max-width: 106px;
}

.discount {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
}

.discount__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.w-100 {
  width: 100%;
}

.site-header__top {
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: #313131;
}

.site-header__header {
  margin-bottom: 20px;
}

.site-header__col--right {
  text-align: right;
}

.site-header__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  margin-right: 30px;
  color: #fff;
}

.site-header__link:last-child {
  margin-right: 0;
}

.site-header__icon {
  margin-right: 11px;
  width: 24px;
  height: 24px;
}

.header__top {
  margin-bottom: 20px;
}

.header__delivery {
  display: inline-block;
  margin-right: 20px;
  color: #000;
}

.header__delivery img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  -webkit-filter: invert(100%) sepia(5%) saturate(26%) hue-rotate(260deg) brightness(109%) contrast(100%);
          filter: invert(100%) sepia(5%) saturate(26%) hue-rotate(260deg) brightness(109%) contrast(100%);
}

.header__bottom .container {
  padding-right: 0;
}

.header-form {
  position: relative;
}

.header-form__input {
  border: 1px solid #e5e5e5;
  padding: 17px 0 17px 50px;
  width: 100%;
}

.header-form__input::-webkit-input-placeholder {
  color: #414141;
}

.header-form__input::-moz-placeholder {
  color: #414141;
}

.header-form__input:-ms-input-placeholder {
  color: #414141;
}

.header-form__input::-ms-input-placeholder {
  color: #414141;
}

.header-form__input::placeholder {
  color: #414141;
}

.header-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-icon {
  position: relative;
  margin-right: 20px;
}

.header-icon__image {
  width: 25px;
  height: 25px;
}

.header-icon__notification {
  position: absolute;
  right: 7px;
  top: 4px;
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #d74444;
}

.header-icon:last-child {
  margin-right: 0;
}

.menu-btn__icon {
  width: 20px;
  height: 20px;
}

.nav {
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.nav__list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__link {
  display: inline-block;
  padding: 24px 25px;
  color: #414141;
}

.nav__link--more .nav__icon {
  margin-right: 0;
}

.nav__link--stock {
  color: #d74444;
}

.nav__item {
  position: relative;
}

.nav__item:last-child .nav__link {
  padding-right: 0;
  padding-left: 0;
}

.nav__sub-list {
  position: absolute;
  left: 0;
  z-index: 2;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
  width: 189px;
  max-height: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__sub-list .nav__link {
  padding: 0;
}

.nav__sub-list--last {
  left: unset;
  right: 0;
}

.nav__sub-item {
  margin-bottom: 25px;
  padding-left: 25px;
}

.nav__sub-item .nav__link {
  font-size: 0.875rem;
}

.nav__sub-item:hover .nav__link {
  text-decoration: none;
  color: #245462;
}

.nav__sub-item:last-child {
  margin-bottom: 0;
}

.nav__icon {
  margin-right: 10px;
  width: 23px;
  height: 23px;
}

.hero__info {
  position: absolute;
  left: 120px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__title {
  max-width: 240px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 105.3%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hero__text {
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
}

.hero__btn {
  display: inline-block;
  padding: 14px 25px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #343434;
  background-color: #fff;
}

.hero-slider__slide picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.hero-slider__slide img {
  width: 100%;
}

.hero-slider__btn-prev .hero-slider__icon {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hero-slider__btn-next .hero-slider__icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.hero-slider__icon {
  width: 18px;
  height: 18px;
}

.hero-slider__icon--disabled {
  display: none;
}

.hero-slider__btn-prev,
.hero-slider__btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.hero-slider__btn-prev::after,
.hero-slider__btn-next::after {
  content: none;
}

.hero-slider__btn-prev.swiper-button-disabled,
.hero-slider__btn-next.swiper-button-disabled {
  background: rgba(157, 157, 157, 0.28);
  opacity: 1;
}

.hero-slider__btn-prev.swiper-button-disabled .hero-slider__icon,
.hero-slider__btn-next.swiper-button-disabled .hero-slider__icon {
  display: none;
}

.hero-slider__btn-prev.swiper-button-disabled .hero-slider__icon--disabled,
.hero-slider__btn-next.swiper-button-disabled .hero-slider__icon--disabled {
  display: block;
}

.top-sales__title {
  margin-bottom: 35px;
}

.section-products__col {
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.product {
  position: relative;
  padding: 20px 0;
  height: 100%;
  cursor: pointer;
}

.product__favourite {
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.product__icon {
  width: 17px;
  height: 17px;
  background-size: contain;
}

.product__center {
  padding-top: 20px;
  text-align: center;
}

.product__image {
  margin-bottom: 30px;
  max-width: 100%;
}

.product__description {
  color: #414141;
}

.product__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 0.84;
}

.product__category {
  font-size: 0.75rem;
  line-height: 0.86;
  color: inherit;
}

.product__price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 0.84;
  color: inherit;
}

.product__spacer {
  height: 100px;
}

.product__info {
  position: absolute;
  bottom: 0;
  display: none;
  padding-bottom: 20px;
  width: 100%;
}

.product__category--small {
  font-size: 0.6875rem;
  line-height: 0.85;
}

.product__btn {
  max-width: 100%;
}

.product-options__col::before,
.product-options__col::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 2px;
  height: 8px;
  background-color: #414141;
}

.product-options__col::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-options__col::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.product-options__col:last-child::before,
.product-options__col:last-child::after {
  content: none;
}

.product-options__item {
  font-size: 0.6875rem;
  line-height: 1;
}

.product-options__name {
  font-weight: 400;
  text-transform: uppercase;
  color: #c4c4c4;
}

.product-options__value {
  color: #414141;
}

.site-footer {
  padding-top: 54px;
  -webkit-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.03);
}

.footer-top {
  margin-bottom: 34px;
}

.footer-top__title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #000;
}

.footer-top__address {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  margin-left: auto;
  max-width: 171px;
  color: #414141;
}

.footer-top .footer-top__nav {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-top .footer-top__nav .nav__list:not(:last-child) {
  margin-right: 50px;
}

.footer-top .footer-top__nav .nav__link {
  padding: 0;
  font-size: 14px;
  color: #414141;
}

.footer-bottom {
  padding-bottom: 32px;
}

.footer-bottom__right .footer-bottom__link:not(:last-child) {
  margin-right: 30px;
}

.footer-bottom__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: normal;
  letter-spacing: normal;
  color: #414141;
}

.footer-bottom__link--stock {
  color: #d74444;
}

.footer-bottom__link--contact {
  width: 100%;
}

.footer-bottom__icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.footer-bottom__icon--phone {
  -webkit-filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(0) contrast(103%);
          filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(0) contrast(103%);
}

.footer-bottom__icon--contact {
  width: 19px;
  height: 19px;
}

.mobile-menu {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 200;
  overflow: auto;
  padding-top: 21px;
  width: 100%;
  height: 100%;
  max-width: 227px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  background: #f9f9f9;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.mobile-menu__inner {
  height: 100%;
}

.mobile-menu__separator {
  position: relative;
  padding-right: 15px;
  padding-left: 25px;
}

.mobile-menu__title {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 15px;
  color: #414141;
}

.mobile-menu__close {
  position: relative;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #f0f0f0;
}

.mobile-menu__close::before,
.mobile-menu__close::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 1px;
  height: 8px;
  background-color: #bfbfbf;
}

.mobile-menu__close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu__close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-menu__item {
  padding-left: 28px;
}

.mobile-menu__item.active {
  background: -webkit-gradient(linear, left top, right top, from(#f1f1f1), color-stop(82.82%, rgba(238, 246, 250, 0.19)), color-stop(107.25%, rgba(237, 248, 252, 0)));
  background: -o-linear-gradient(left, #f1f1f1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0) 107.25%);
  background: linear-gradient(90deg, #f1f1f1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0) 107.25%);
}

.mobile-menu__item.active .mobile-menu__link {
  font-weight: 600;
}

.mobile-menu__link {
  font-size: 0.8125rem;
  line-height: 15px;
  color: #686868;
}

.mobile-menu__link--stock {
  color: #f92d2d;
}

.mobile-menu__icon {
  margin-right: 20px;
  width: 18px;
  height: 18px;
  background-size: cover;
}

.mobile-menu.opened {
  left: 0;
}

.breadcrumbs__item {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  display: inline-block;
  color: #969696;
}

.breadcrumbs__item::after {
  content: " / ";
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.catalog-aside {
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  background: #fff;
}

.catalog-aside__close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.catalog-aside__top {
  margin-bottom: 64px;
}

.catalog-aside__separator {
  margin-bottom: 20px;
}

.catalog-aside__title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  margin-bottom: 0;
  color: #414141;
}

.catalog-filter__button {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  padding: 13px 46px;
  color: #000;
  background: #f9f9f9;
}

.catalog-filter__categories {
  margin-bottom: 20px;
}

.catalog-filter__price-wrapper {
  margin-bottom: 20px;
}

.catalog-filter__price {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.15385;
  letter-spacing: normal;
  border-radius: 3px;
  padding: 7px 22px;
  color: #414141;
  background: #f8f8f8;
}

.catalog-filter__range-slider {
  border: none;
  padding: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-filter__range-slider .noUi-connects {
  background: #ececec;
}

.catalog-filter__range-slider .noUi-connect {
  border-radius: 3px;
  background: #245462;
}

.catalog-filter__range-slider .noUi-handle {
  right: -10px !important;
  top: -2px;
  border: 3px solid #245462;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.catalog-filter__range-slider .noUi-handle::before,
.catalog-filter__range-slider .noUi-handle::after {
  content: none;
}

.catalog-filter__colors {
  margin-bottom: 20px;
}

.catalog-filter__line {
  width: 19px;
  height: 2px;
  background: #414141;
}

.filter-categories__item {
  margin-bottom: 10px;
}

.filter-categories__title {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  position: relative;
  border-radius: 3px;
  padding: 7px 12px 7px 10px;
  width: 100%;
  text-align: left;
  color: #686868;
  background: #f8f8f8;
}

.filter-categories__title.clicked .filter-categories__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.filter-categories__title.clicked + .filter-categories__content {
  padding-top: 10px;
  max-height: 300px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filter-categories__icon {
  width: 10px;
  height: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.filter-categories__content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories-list {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.categories-list__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.categories-list__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.categories-list__input:checked + .categories-list__checkbox {
  background: #245462;
}

.categories-list__checkbox {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #245462;
  border-radius: 3px;
  width: 18px;
  height: 18px;
}

.categories-list__checkbox::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: url("../img/checked.svg") center no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.categories-list__link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  color: #245462;
}

.filter-colors {
  font-size: 0;
}

.filter-colors__color {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.filter-colors__color::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: url("../img/checked.svg") center no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filter-colors__color.clicked::before {
  opacity: 1;
}

.filter-colors__color--red {
  background: #e94848;
}

.filter-colors__color--green {
  background: #43bf57;
}

.filter-colors__color--lightgray {
  background: #e4e4e4;
}

.filter-colors__color--darkgray {
  background: #3e3e3e;
}

.filter-colors__color--gray {
  background: #675a5a;
}

.filter-colors__color--brown {
  background: #864f4f;
}

.select2-container--sort .select2-dropdown {
  border: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  background: #fff;
}

.select2-container--sort .select2-search {
  display: none;
}

.select2-container--sort .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
}

.select2-container--sort .select2-selection .select2-selection__rendered {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  overflow: visible;
  padding-right: 10px;
  white-space: normal;
  -o-text-overflow: unset;
     text-overflow: unset;
}

.select2-container--sort .select2-selection__arrow {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  width: 18px;
  -webkit-box-shadow: 0 0 0.5px 1px #000;
          box-shadow: 0 0 0.5px 1px #000;
}

.select2-container--sort .select2-selection__arrow::before,
.select2-container--sort .select2-selection__arrow::after {
  content: "";
  position: absolute;
  right: 0;
  -webkit-box-shadow: 0 0 0.5px 1px #000;
          box-shadow: 0 0 0.5px 1px #000;
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.select2-container--sort .select2-selection__arrow::before {
  top: 4px;
  width: 7px;
}

.select2-container--sort .select2-selection__arrow::after {
  top: 8px;
  width: 10px;
}

.select2-container--sort .select2-results__options {
  padding-top: 20px;
  padding-bottom: 20px;
}

.select2-container--sort .select2-results__option {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  padding-right: 28px;
  text-align: right;
  color: #414141;
}

.select2-container--sort.select2-container--open .select2-selection__arrow::before {
  width: 14px;
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.select2-container--product-info .select2-dropdown,
.select2-container--product-info-quantiiy .select2-dropdown,
.select2-container--product-info-sizes .select2-dropdown {
  border: none;
  padding-top: 5px;
  width: 30px !important;
}

.select2-container--product-info .select2-search,
.select2-container--product-info-quantiiy .select2-search,
.select2-container--product-info-sizes .select2-search {
  display: none;
}

.select2-container--product-info .select2-selection,
.select2-container--product-info-quantiiy .select2-selection,
.select2-container--product-info-sizes .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}

.select2-container--product-info .select2-selection .select2-selection__rendered,
.select2-container--product-info-quantiiy .select2-selection .select2-selection__rendered,
.select2-container--product-info-sizes .select2-selection .select2-selection__rendered {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  padding-right: 0;
  padding-left: 0;
  color: #414141;
}

.select2-container--product-info .select2-selection .select2-selection__arrow,
.select2-container--product-info-quantiiy .select2-selection .select2-selection__arrow,
.select2-container--product-info-sizes .select2-selection .select2-selection__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8px;
  height: 8px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.select2-container--product-info .select2-selection .select2-selection__arrow b,
.select2-container--product-info-quantiiy .select2-selection .select2-selection__arrow b,
.select2-container--product-info-sizes .select2-selection .select2-selection__arrow b {
  width: 100%;
  height: 100%;
  background: url("../img/arrow.svg") center no-repeat;
  background-size: cover;
}

.select2-container--product-info .select2-results__option,
.select2-container--product-info-quantiiy .select2-results__option,
.select2-container--product-info-sizes .select2-results__option {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  margin-bottom: 2px;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
}

.select2-container--product-info .select2-results__option:last-child,
.select2-container--product-info-quantiiy .select2-results__option:last-child,
.select2-container--product-info-sizes .select2-results__option:last-child {
  margin-bottom: 0;
}

.select2-container--product-info .filter-colors__color,
.select2-container--product-info-quantiiy .filter-colors__color,
.select2-container--product-info-sizes .filter-colors__color {
  width: 30px;
  height: 30px;
}

.select2-container--product-info .filter-colors__color::before,
.select2-container--product-info-quantiiy .filter-colors__color::before,
.select2-container--product-info-sizes .filter-colors__color::before {
  content: none;
}

.select2-container--product-info.select2-container--open .select2-selection__arrow,
.select2-container--product-info-quantiiy.select2-container--open .select2-selection__arrow,
.select2-container--product-info-sizes.select2-container--open .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.select2-container--product-info-quantiiy,
.select2-container--product-info-sizes {
  width: 46px !important;
}

.select2-container--product-info-quantiiy .select2-dropdown,
.select2-container--product-info-sizes .select2-dropdown {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.select2-container--product-info-quantiiy .select2-selection .select2-selection__rendered,
.select2-container--product-info-sizes .select2-selection .select2-selection__rendered {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  background: #fff;
}

.select2-container--product-info-sizes {
  width: 180px !important;
}

.select2-container--product-info-sizes .select2-selection .select2-selection__rendered {
  margin-right: 10px;
  padding: 0 5px;
  width: auto;
  height: auto;
}

.select2-container--product-info-sizes .select2-dropdown {
  width: auto !important;
}

.select2-container--product-info-sizes .select2-results__option {
  margin-bottom: 8px;
  padding: 0 5px;
  width: auto;
  height: auto;
}

.select2-container--product-info-sizes .select2-results__option:last-child {
  margin-bottom: 8px;
}

.section-product__bottom {
  padding-top: 50px;
}

.product-slider__top {
  width: 100%;
  height: 80%;
}

.product-slider__bottom {
  padding: 10px 0;
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-slider__bottom .swiper-slide {
  width: 25%;
  height: 100%;
}

.product-slider__bottom .swiper-slide-thumb-active {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.product-slider__prev {
  left: 3px;
}

.product-slider__next {
  right: 3px;
}

.product-slider__prev,
.product-slider__next {
  padding: 0;
  width: auto;
}

.product-slider__prev::after,
.product-slider__next::after {
  font-size: 16px;
  color: #000;
}

.product-slider__image,
.product-slider__thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-info__star {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-info__title {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.17857;
  letter-spacing: normal;
  color: #414141;
}

.product-info__category {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  color: #686868;
}

.product-info__center {
  margin-bottom: 20px;
}

.product-info__price {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.17857;
  letter-spacing: normal;
  margin-right: 31px;
  color: #414141;
}

.product-info__button {
  margin-right: 20px;
  max-width: 143px;
  text-align: center;
}

.product-info__button:hover {
  color: #fff;
}

.product-info__link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  color: #414141;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.product-info__link:hover {
  color: #245462;
}

.product-info__link:hover .header-icon__image {
  -webkit-filter: invert(24%) sepia(7%) saturate(4976%) hue-rotate(147deg) brightness(95%) contrast(77%);
          filter: invert(24%) sepia(7%) saturate(4976%) hue-rotate(147deg) brightness(95%) contrast(77%);
}

.product-info__option-name {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  margin-bottom: 10px;
  color: #414141;
}

.product-info__colors {
  margin-right: 25px;
  width: 100%;
  max-width: 48px;
}

.product-info__quantity {
  margin-right: 41px;
}

.product-info__sizes {
  margin-top: 24px;
  width: 100%;
}

.product-info__descr h4 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  color: #414141;
}

.product-info__descr p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: normal;
  color: #686868;
}

.product-characteristics__tabs {
  margin-bottom: 27px;
}

.product-characteristics__tab {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
  position: relative;
  padding: 0;
  padding-bottom: 10px;
  color: #686868;
}

.product-characteristics__tab::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #686868;
  opacity: 0;
  -webkit-transition: width 0.3s ease, opacity 0.3s ease;
  -o-transition: width 0.3s ease, opacity 0.3s ease;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.product-characteristics__tab:not(:last-child) {
  margin-right: 50px;
}

.product-characteristics__tab:hover::before {
  width: 100%;
  opacity: 1;
}

.product-characteristics__tab--active {
  color: #414141;
}

.product-characteristics__tab--active::before {
  width: 100%;
  opacity: 1;
}

.product-characteristics__bottom {
  margin-bottom: 90px;
}

.product-characteristics__content--hidden {
  display: none;
}

.product-characteristics__content--visible {
  display: block;
}

.characteristics-item__col {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #686868;
}

.characteristics-item__dots {
  margin-bottom: 4px;
  width: 100%;
  height: 1px;
  background: url("../img/line.svg") repeat;
}

.section-cart__cart {
  padding-top: 40px;
}

.section-cart__item {
  margin-bottom: 20px;
}

.section-cart__item:last-child {
  margin-bottom: 0;
}

.cart__top {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
  margin-bottom: 20px;
  color: #414141;
}

.cart__items {
  margin-bottom: 40px;
}

.cart-item {
  position: relative;
  padding: 22px 71px 22px 22px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  background: #fff;
}

.cart-item__left {
  margin-right: 40px;
}

.cart-item__img {
  max-width: 100px;
  max-height: 75px;
}

.cart-item__img img {
  max-width: 100%;
  max-height: 100%;
}

.cart-item__center {
  width: 100%;
}

.cart-item__center-wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.cart-item__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
  color: #414141;
}

.cart-item__options {
  width: 100%;
}

.cart-item__color {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
}

.cart-item__color b {
  font-weight: inherit;
  color: #414141;
}

.cart-item__color span {
  color: #9e9e9e;
}

.cart-item__quantity {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
}

.cart-item__quantity b {
  color: #414141;
}

.cart-item__quantity span {
  color: #9e9e9e;
}

.cart-item__mobile-quantity {
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 1.18182;
  letter-spacing: normal;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  width: 27px;
  height: 20px;
  background: #fff;
}

.cart-item__sizes {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
}

.cart-item__sizes b {
  color: #414141;
}

.cart-item__sizes span {
  color: #9e9e9e;
}

.cart-item__price {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
  color: #414141;
}

.cart-item__price--old {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  color: #ccc;
}

.cart-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57px;
  height: 100%;
  background: #f9f9f9;
}

.cart-item__remove::before,
.cart-item__remove::after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  width: 1px;
  height: 12px;
  background-color: #bfbfbf;
}

.cart-item__remove::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.cart-item__remove::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.section-contact {
  padding-top: 40px;
  padding-bottom: 70px;
}

.section-contact__top {
  margin-bottom: 50px;
}

.section-contact__title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
  margin-bottom: 35px;
  color: #414141;
}

.section-contact__adres {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: normal;
  color: #414141;
}

.contact-form__row {
  margin-right: -5px;
  margin-bottom: 30px;
  margin-left: -5px;
}

.contact-form__col {
  padding-right: 5px;
  padding-left: 5px;
}

.contact-form__label {
  display: block;
}

.contact-form__name {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  display: inline-block;
  margin-bottom: 4px;
  color: #969696;
}

.contact-form__btn {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.15385;
  letter-spacing: normal;
  display: inline-block;
  width: 100%;
  max-width: 149px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  color: #414141;
  background: #fff;
}

.contact-form__textarea {
  height: 142px;
}

.contact-form__input {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  padding-left: 12px;
  height: 38px;
  color: #686868;
}

.contact-form__input,
.contact-form__textarea {
  outline: none;
  border: none;
  width: 100%;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
          box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  background: #fcfcfc;
}

.contact-map {
  height: 400px;
}

.contact-map__iframe {
  width: 100%;
  height: 100%;
}

.cabinet-section {
  padding-top: 40px;
}

.cabinet-section__bonus-program {
  margin-bottom: 42px;
}

.cabinet-bonus {
  color: #414141;
}

.cabinet-bonus__top {
  margin-bottom: 30px;
}

.cabinet-bonus__left {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
}

.cabinet-bonus__item {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
}

.cabinet-bonus__bottom {
  padding: 20px 0;
  background-color: #f8f8f8;
}

.cabinet-bonus__option {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.28571;
  letter-spacing: normal;
  margin-right: 60px;
  color: #414141;
}

.cabinet-bonus__option:last-child {
  margin-right: 0;
}

.cabinet-bonus__icon {
  width: 25px;
  height: 25px;
}

.cabinet-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: normal;
  margin-bottom: 30px;
  color: #414141;
}

.orders-table {
  border: 1px solid #f3f3f3;
  width: 100%;
}

.orders-table__item--top .orders-item__col {
  padding: 11px 0;
  text-align: center;
}

.orders-table__item--top .orders-item__col--product {
  padding-left: 15px;
  text-align: left;
}

.more-link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  color: #245462;
}

.orders-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orders-item__col {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.66667%;
          flex: 0 1 16.66667%;
  border: 1px solid #f3f3f3;
  padding: 25px 15px;
  max-width: 16.66667%;
  text-align: center;
  color: #686868;
}

.orders-item__img {
  margin-right: 16px;
  width: 53px;
  height: 40px;
}

.orders-item__col--product {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: normal;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  text-align: left;
  color: #414141;
}

.orders-item__options {
  margin-top: 10px;
  padding: 3.5px 5px;
  background-color: #f3f3f3;
}

.orders-options__item {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: normal;
  margin-right: 10px;
  color: #686868;
}

@media (min-width: 768px) {
  .section-products__col:hover {
    -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.11);
            box-shadow: 0 1px 9px rgba(0, 0, 0, 0.11);
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  }

  .footer-top .footer-top__nav .nav__item:hover {
    background-color: #fff;
  }

  .footer-top .footer-top__nav .nav__item:hover .nav__link {
    color: #245462;
  }
}

@media (min-width: 769px) {
  .site-header__link:hover {
    text-decoration: none;
    color: #ff0;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .nav__item:not(:last-child):hover {
    background-color: #245462;
  }

  .nav__item:not(:last-child):hover > .nav__link {
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  .nav__item:not(:last-child):hover .nav__icon {
    -webkit-filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(125deg) brightness(115%) contrast(100%);
            filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(125deg) brightness(115%) contrast(100%);
  }

  .nav__item:hover .nav__sub-list {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 500px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .product:hover .product__spacer {
    display: block;
  }

  .product:hover .product__info {
    display: block;
  }
}

@media (max-width: 1200px) {
  .nav__link {
    padding: 13px;
  }
}

@media (max-width: 769px) {
  .header-form__input {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f9f9f9;
  }

  .logo__img {
    width: 100%;
  }

  .hero__info {
    left: 43px;
  }

  .hero-slider__btn-prev,
  .hero-slider__btn-next {
    top: unset;
    bottom: 15px;
  }

  .hero-slider__btn-prev.swiper-button-disabled,
  .hero-slider__btn-next.swiper-button-disabled {
    background: #9d9d9d;
  }

  .product__spacer {
    display: none;
    height: 0;
  }

  .breadcrumbs .breadcrumbs__item:not(span.breadcrumbs__item) {
    display: none;
  }

  .breadcrumbs span.breadcrumbs__item {
    position: relative;
    padding-left: 10px;
  }

  .breadcrumbs span.breadcrumbs__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 5px;
    background: url("../img/arrow.svg") center no-repeat;
    background-size: cover;
    -webkit-filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(84%) contrast(91%);
            filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(84%) contrast(91%);
    -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }

  .catalog-aside {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .catalog-aside.opened {
    display: block;
  }

  .product-slider__top .swiper-slide {
    height: 300px;
  }

  .product-slider__bottom .swiper-slide {
    height: 90px;
  }

  .product-info__link {
    font-size: 0;
  }

  .product-characteristics__tab:not(:last-child) {
    margin-right: 20px;
  }

  .product-characteristics__bottom {
    margin-bottom: 50px;
  }

  .cart-item__left {
    margin-right: 15px;
  }

  .cart-item__img {
    max-width: 67px;
    max-height: 50px;
  }

  .cart-item__title {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.16667;
    letter-spacing: normal;
    margin-bottom: 0;
  }

  .cart-item {
    padding-bottom: 15px;
  }

  .cart-recommend__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .hero-slider__btn-prev {
    left: unset;
    right: 41px;
  }
}

@media (max-width: 576px) {
  .site-main__cart {
    margin-bottom: 40px;
  }

  .header__col--first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__col--second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__col--third {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    font-size: 12px;
  }

  .nav__item {
    margin-right: 7px;
  }

  .nav__icon {
    margin-right: 0;
    width: 30px;
    height: 30px;
  }

  .nav {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .nav__item-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  }

  .hero__info {
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 37px 15px;
    height: 100%;
    background-color: #f4f4f4;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .hero__title {
    font-size: 1rem;
  }

  .hero__text {
    margin-bottom: 0;
    font-size: 0.625rem;
  }

  .hero__btn {
    display: none;
  }

  .hero-slider__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: auto;
  }

  .hero-slider__slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }

  .hero-slider__btn-prev,
  .hero-slider__btn-next {
    display: none;
  }

  .product__info {
    display: none;
  }

  .site-footer {
    padding-top: 14px;
  }

  .footer-bottom__right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product-slider__top {
    height: 200px;
  }

  .product-slider__bottom .swiper-slide {
    height: 63px;
  }

  .product-slider__prev,
  .product-slider__next {
    display: none;
  }

  .cart-item__left {
    position: absolute;
    margin-right: 0;
  }

  .cart-item__center-wrapper {
    padding-left: 80px;
  }

  .cart-item__title {
    margin-bottom: 8px;
    width: 100%;
  }

  .cart-item__remove::before,
  .cart-item__remove::after {
    right: 15px;
    top: 15px;
    width: 2px;
  }

  .cart-item__remove {
    background-color: transparent;
  }

  .cart-item {
    padding-right: 15px;
  }

  .cart-item__color {
    margin-bottom: 10px;
  }

  .cart-item__color,
  .cart-item__quantity,
  .cart-item__sizes {
    width: 100%;
  }

  .contact-map {
    height: 250px;
  }

  .cabinet-bonus__bottom {
    margin-right: -15px;
    margin-left: -15px;
  }

  .cabinet-bonus__option {
    padding-right: 30px;
    padding-left: 30px;
  }

  .orders-item__col {
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .orders-item__col--product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}